*{
  margin: 0;
  padding: 0;
}

.cube-center{
  margin-left: auto;
  margin-right: auto;
}

.cube-absolute {
    position: absolute;
}

/*Cubos Grandes*/
.cube-big{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

.cube-big:nth-child(1){
  background-color: red;
}

.cube-big:nth-child(2){
  background-color: blue;
}

/*Cubos Medianos*/
.cube-medium {
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
}

.cube-big:nth-child(1) :nth-child(1){
  background-color: purple;
}

.cube-big:nth-child(2) :nth-child(1){
  background-color: green;
}

/*Cubos Pequeños*/
.cube-small {
  width: 75px;
  height: 75px;
}

.cube-big:nth-child(1) :nth-child(2){
  background-color: black;
}

.cube-big:nth-child(2) :nth-child(2){
  top: 75px;
  left: 75px;
  background-color: yellow;
}
